<div class="leadership">
  <div class="container">
    <div class="leadership-container">
      <h2 class="title">Leadership</h2>
      <div class="personal-container">
        <div class="personal">
          <img
            src="/assets/user1.jpg"
            class="personal-image"
            alt="Jenny Wilson"
          />
          <h3 class="subtitle">Jenny Wilson</h3>
          <small class="personal-positiion">Manager</small>
          <ul class="networks-navigation">
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="personal">
          <img
            src="/assets/user2.jpg"
            class="personal-image"
            alt="Brooklin Simmons"
          />
          <h3 class="subtitle">Brooklin Simmons</h3>
          <small class="personal-positiion">CEO</small>
          <ul class="networks-navigation">
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="personal">
          <img
            src="/assets/user3.jpg"
            class="personal-image"
            alt="Esther Howard"
          />
          <h3 class="subtitle">Esther Howard</h3>
          <small class="personal-positiion">director</small>
          <ul class="networks-navigation">
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="personal">
          <img
            src="/assets/user4.jpg"
            class="personal-image"
            alt="Darlene Robertson"
          />
          <h3 class="subtitle">Darlene Robertson</h3>
          <small class="personal-positiion">rrhh</small>
          <ul class="networks-navigation">
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="network-navigation">
              <a href="" class="network-navigation-link">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
