<div class="container">
  <h2 class="title">The villa rental expert for your vacation</h2>
  <p class="text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem
    ducimus deleniti repellendus, eius doloremque quaerat sunt perferendis earum
    qui voluptatum facere alias aut provident culpa numquam delectus velit,
    iusto quae.
  </p>
  <form class="form-container">
    <div class="form-control">
      <label for="check-in" class="form-label">Check-In: </label>
      <input type="date" class="form-input" id="check-in" />
    </div>
    <div class="form-control">
      <label for="check-out" class="form-label">Check-Out: </label>
      <input type="date" class="form-input" id="check-out" />
    </div>
    <div class="form-control">
      <label for="adults" class="form-label">Adults:</label>
      <select name="adults" class="form-input" id="adults">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
    <div class="form-control">
      <label for="adults" class="form-label">Children:</label>
      <select name="childrens" class="form-input" id="childrens">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
    <input type="submit" value="search" />
  </form>
</div>
