<div class="reviews">
  <div class="container">
    <h2 class="title">Travelers Reviews</h2>
    <div class="review-container">
      <div class="review">
        <div class="review-top">
          <img src="/assets/user1.jpg" class="review-image" alt="user 1" />
          <div class="review-name">
            <h3 class="review-title">Jane Cooper</h3>
            <small class="review-countrie">Dubai</small>
          </div>
        </div>
        <div class="revieww-bottom">
          <p class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
            libero iste sint quod exercitationem dignissimos hic repellendus
            deleniti mollitia.
          </p>
        </div>
      </div>

      <div class="review">
        <div class="review-top">
          <img src="/assets/user2.jpg" class="review-image" alt="user 2" />
          <div class="review-name">
            <h3 class="review-title">Robert Fox</h3>
            <small class="review-countrie">Paris</small>
          </div>
        </div>
        <div class="revieww-bottom">
          <p class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
            libero iste sint quod exercitationem dignissimos hic repellendus
            deleniti mollitia.
          </p>
        </div>
      </div>

      <div class="review">
        <div class="review-top">
          <img src="/assets/user3.jpg" class="review-image" alt="user 3" />
          <div class="review-name">
            <h3 class="review-title">Esther Howard</h3>
            <small class="review-countrie">Toronto</small>
          </div>
        </div>
        <div class="revieww-bottom">
          <p class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
            libero iste sint quod exercitationem dignissimos hic repellendus
            deleniti mollitia.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
