<div class="blogs">
  <div class="container">
    <h2 class="title">Our Blog</h2>
    <div class="blog-container">
      <div class="blog">
        <img src="/assets/blog1.webp" class="blog-image" alt="Best beaches" />
        <div class="blog-content">
          <h3 class="subtitle">The best beaches</h3>
          <small class="blog-date">September 3, 2021</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam at
            nostrum consectetur ut aliquid illum iusto? Aspernatur dolores nihil
            vitae accusamus quaerat ipsam. Non animi, nam reprehenderit placeat
            ipsum praesentium. Ut illo, aperiam numquam nulla, quis sed iusto
            mollitia veritatis facilis ullam quasi tempore voluptates qui libero
            reprehenderit itaque! Debitis ullam temporibus laborum aliquid
            recusandae dignissimos alias soluta ratione hic.
          </p>
          <a href="" class="blog-link">Continue Reading</a>
        </div>
      </div>

      <div class="blog">
        <img src="/assets/blog2.webp" class="blog-image" alt="Best beaches" />
        <div class="blog-content">
          <h3 class="subtitle">Our to visit Dubai</h3>
          <small class="blog-date">July 21, 2022</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam at
            nostrum consectetur ut aliquid illum iusto? Aspernatur dolores nihil
            vitae accusamus quaerat ipsam. Non animi, nam reprehenderit placeat
            ipsum praesentium. Ut illo, aperiam numquam nulla, quis sed iusto
            mollitia veritatis facilis ullam quasi tempore voluptates qui libero
            reprehenderit itaque! Debitis ullam temporibus laborum aliquid
            recusandae dignissimos alias soluta ratione hic.
          </p>
          <a href="" class="blog-link">Continue Reading</a>
        </div>
      </div>

      <div class="blog">
        <img src="/assets/blog3.webp" class="blog-image" alt="Best beaches" />
        <div class="blog-content">
          <h3 class="subtitle">Boat Ride</h3>
          <small class="blog-date">November 30, 2022</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam at
            nostrum consectetur ut aliquid illum iusto? Aspernatur dolores nihil
            vitae accusamus quaerat ipsam. Non animi, nam reprehenderit placeat
            ipsum praesentium. Ut illo, aperiam numquam nulla, quis sed iusto
            mollitia veritatis facilis ullam quasi tempore voluptates qui libero
            reprehenderit itaque! Debitis ullam temporibus laborum aliquid
            recusandae dignissimos alias soluta ratione hic.
          </p>
          <a href="" class="blog-link">Continue Reading</a>
        </div>
      </div>
    </div>
  </div>
</div>
