<div class="description">
  <div class="container">
    <div class="description-container">
      <div class="description-left">
        <div class="description-top">
          <h2 class="title">How can we help today?</h2>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam,
            consectetur molestias ducimus a culpa, magnam ut quae, pariatur ipsa
            enim reprehenderit. Quae molestiae accusantium et alias eius iusto
            ducimus adipisci! Quas saepe repellat molestiae ab officiis non
            tempore suscipit quo et qui distinctio numquam itaque totam id
            facere, minima animi soluta? Magni atque laboriosam in ipsum, sit
            cumque et rerum.
          </p>
        </div>
        <div class="description-bottom">
          <div class="description-detail">
            <h3 class="subtitle">Address</h3>
            <p class="text">1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
          </div>
          <div class="description-detail">
            <h3 class="subtitle">Number</h3>
            <p class="text">(319) 555-0115</p>
          </div>
          <div class="description-detail">
            <h3 class="subtitle">Email</h3>
            <p class="text">travel.arni@example.com</p>
          </div>
        </div>
      </div>
      <form class="description-right">
        <div class="form-control">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-input" name="email" id="email" />
        </div>
        <div class="form-control">
          <label for="name" class="form-label">Name:</label>
          <input type="text" name="name" class="form-input" id="name" />
        </div>
        <div class="form-control">
          <label for="message" class="form-label">Message:</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            class="form-input"
            rows="10"
          ></textarea>
        </div>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </div>
</div>
