<div class="agencies">
  <div class="container">
    <div class="agencies-container">
      <h2 class="title">We have agencies in several countries</h2>
      <div class="gallery-grid">
        <div class="gallery-container">
          <img src="/assets/venice.webp" class="gallery-image" alt="Venice" />
          <span class="gallery-title">Venice</span>
        </div>
        <div class="gallery-container">
          <img src="/assets/toronto.webp" class="gallery-image" alt="Toronto" />
          <span class="gallery-title">Toronto</span>
        </div>
        <div class="gallery-container">
          <img src="/assets/paris.webp" class="gallery-image" alt="Paris" />
          <span class="gallery-title">Paris</span>
        </div>
        <div class="gallery-container">
          <img src="/assets/zurich.webp" class="gallery-image" alt="Zurich" />
          <span class="gallery-title">Zurich</span>
        </div>
        <div class="gallery-container">
          <img
            src="/assets/BurjKhalifa.webp"
            class="gallery-image"
            alt="Dubai"
          />
          <span class="gallery-title">Dubai</span>
        </div>
        <div class="gallery-container">
          <img src="/assets/torrePisa.webp" class="gallery-image" alt="Pisa" />
          <span class="gallery-title">Pisa</span>
        </div>
      </div>
    </div>
  </div>
</div>
