<div class="description">
  <div class="container">
    <div class="description-container">
      <img src="/assets/about_text.webp" alt="" class="description-image" />
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        voluptate pariatur recusandae vero. Aliquid ratione quisquam, nostrum
        sit quis consectetur, officiis, ex nesciunt itaque incidunt veritatis
        hic fugit veniam vel. Totam labore distinctio dolorum culpa odit quo
        neque commodi laboriosam atque, incidunt illo nulla, voluptatem beatae
        voluptates blanditiis dolor debitis dolore laborum veniam ipsa sequi.
        Necessitatibus possimus nemo incidunt aperiam.
      </p>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nobis nam
        animi facere. Nulla deserunt eum ipsam aspernatur itaque porro,
        doloribus voluptate, eos eligendi, enim sequi ullam ipsa dignissimos
        animi!
      </p>
    </div>
  </div>
</div>
