<footer class="footer">
  <div class="footer-container">
    <a routerLink="/home" class="logo"><span>T</span>RAVEL<span>A</span>RNI</a>
    <ul class="networks-navigation">
      <li class="network-navigation">
        <a href="" class="network-navigation-link">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
      <li class="network-navigation">
        <a href="" class="network-navigation-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li class="network-navigation">
        <a href="" class="network-navigation-link">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
    <ul class="navigation-container" #menu>
      <li class="navigation-list">
        <a routerLink="/home" class="navigation-link">Home</a>
      </li>
      <li class="navigation-list">
        <a routerLink="/activities" class="navigation-link">Activities</a>
      </li>
      <li class="navigation-list">
        <a routerLink="/about" class="navigation-link">About</a>
      </li>
      <li class="navigation-list">
        <a routerLink="/contact" class="navigation-link">Contact</a>
      </li>
      <li class="navigation-list">
        <a routerLink="/blog" class="navigation-link">Blog</a>
      </li>
    </ul>
    <small class="copy">TravelArni © 2023 All Rights Reserved.</small>
  </div>
</footer>
