.headerAbout{
  background-image: url(/assets/aboutHeader.webp);
  height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}
.headerAbout::before{
  content: 'ABOUT';
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  font-size: 2rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  font-weight: bold;
}
