<div class="container">
  <div class="activities">
    <div class="activity">
      <img
        src="/assets/service_bikeRide.webp"
        class="activity-image"
        alt="Bike ride"
      />
      <h2 class="subtitle">Bike Ride</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
        qui dolore a culpa ab eos voluptatem, natus quod sequi accusamus totam,
        ratione corrupti provident molestiae dicta recusandae placeat.
        Blanditiis, saepe. Odio cum maxime sequi laborum animi. Sit nam,
        expedita omnis optio odio fugit vero, tempore iste accusamus incidunt
        perspiciatis dolores. Quis suscipit ut dolores minima facilis
        necessitatibus dolor hic repudiandae!
      </p>
    </div>
    <div class="activity">
      <img
        src="/assets/service_surfLesson.webp"
        class="activity-image"
        alt="surf Lesson"
      />
      <h2 class="subtitle">Surf Lesson</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
        qui dolore a culpa ab eos voluptatem, natus quod sequi accusamus totam,
        ratione corrupti provident molestiae dicta recusandae placeat.
        Blanditiis, saepe. Odio cum maxime sequi laborum animi. Sit nam,
        expedita omnis optio odio fugit vero, tempore iste accusamus incidunt
        perspiciatis dolores. Quis suscipit ut dolores minima facilis
        necessitatibus dolor hic repudiandae!
      </p>
    </div>
    <div class="activity">
      <img
        src="/assets/service_hiking.webp"
        class="activity-image"
        alt="Hiking"
      />
      <h2 class="subtitle">Hiking</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
        qui dolore a culpa ab eos voluptatem, natus quod sequi accusamus totam,
        ratione corrupti provident molestiae dicta recusandae placeat.
        Blanditiis, saepe. Odio cum maxime sequi laborum animi. Sit nam,
        expedita omnis optio odio fugit vero, tempore iste accusamus incidunt
        perspiciatis dolores. Quis suscipit ut dolores minima facilis
        necessitatibus dolor hic repudiandae!
      </p>
    </div>
    <div class="activity">
      <img
        src="/assets/service_parapente.webp"
        class="activity-image"
        alt="Paragliding"
      />
      <h2 class="subtitle">Paragliding</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
        qui dolore a culpa ab eos voluptatem, natus quod sequi accusamus totam,
        ratione corrupti provident molestiae dicta recusandae placeat.
        Blanditiis, saepe. Odio cum maxime sequi laborum animi. Sit nam,
        expedita omnis optio odio fugit vero, tempore iste accusamus incidunt
        perspiciatis dolores. Quis suscipit ut dolores minima facilis
        necessitatibus dolor hic repudiandae!
      </p>
    </div>
  </div>
</div>
